extends layout


block content
	.row
		.col-md
			.card
				.card-header.text-center
					.card-title
						h4 About VoteWashington.info
				.card-body
					p This website is a fully self funded non partisan project to enable public review and public discussion of the official publicly released data from our elections.
					P We rely on the required public disclosure of our election data to provide the services you see on this site.  There is no political agenda to create distrust or discord with the state and county elections, we are hoping to provide the tools to the public to build confidence in the election systems and to audit the ballot status of any publicly disclosed voter.


			.card.mt-2
				.card-header.text-center
					.card-title
						h5 Voter Links
				.list-group.list-group-flush
							 
					a.list-group-item.list-group-item-action.text-primary(target="_blank" href="https://voter.votewa.gov/" )
						span Check Official State Ballot Status @ VoteWA.gov!
						h5.fa.fa-check.float-right

					a.list-group-item.list-group-item-action.text-primary(role="button", href="/voter/wa")
						span Search for Washington state voters!
						span.fa.fa-search.float-right
		.col-md
			.card
				.card-header
					.card-title
						h4 FAQ

				each faq in faqs
					.card-body
						h4 Q: #{faq.q}
						p #{faq.a}









   
   


