extends layout


block content
	.row
		.col-md
			.card
				.card-header.text-center
					.card-title
						h4 About VoteWashington.info
				.card-body
					p This website is a fully self funded non partisan project to enable public review and public discussion of the official publicly released data from our elections.
					P We rely on the required public disclosure of our election data to provide the services you see on this site.  There is no political agenda to create distrust or discord with the state and county elections, we are hoping to provide the tools to the public to build confidence in the election systems and to audit the ballot status of any publicly disclosed voter.


			.card.mt-2
				.card-header.text-center
					.card-title
						h5 Voter Links
				.list-group.list-group-flush
							 
					a.list-group-item.list-group-item-action.text-primary(target="_blank" href="https://voter.votewa.gov/" )
						span Check Official State Ballot Status @ VoteWA.gov!
						h5.fa.fa-check.float-right

					a.list-group-item.list-group-item-action.text-primary(role="button", href="/voter/wa")
						span Search for Washington state voters!
						span.fa.fa-search.float-right
		.col-md
			.card
				.card-header
					.card-title
						h4 FAQ
				.card-body
					h4 Q: What is votewashington.info?
					p 
						| votewashington.info is a non-partisan, self-funded, and publicly available tool started in 2018 that aggregates official
						| state ballot data released to the public by the Washington Secretary of State to provide Washington citizens with user-friendly
						| access to public voter information. Our goal is to both improve voter turnout and empower citizens as a community to identify and
						| fix challenged ballots as quickly as possible. We believe we are accomplishing that goal. We are not an official State of Washington
						| entity and we encourage everyone to always check their ballot status directly at voter.votewa.gov for the most up to date information.
				.card-body
					h4 Who are you?
					p
						| We are two Washington computer nerds who love data and wanted to make elections better and more transparent and give average citizens
						| easy access to the same public data used by political insiders and lobbyists.
				.card-body
					h4 How does votewashington.info get this information?
					p
						| Once a month the State of Washington releases a complete registered voter list if requested. This data is processed into the format you
						| see on our tool. During the last 2 weeks of an election the state also releases public daily ballot status updates which we pull into the
						| site. All data reported comes directly from #[a(href='https://www.sos.wa.gov/elections/research/') sos.wa.gov ].
				.card-body
					h4 When can I expect a ballot update?
					p
						| The public data released by the State of Washington is made available to everyone on weekdays at about 5pm. We grab that data as soon as 
						| we see it, and usually have our updates done by about 6 or 7 pm for the evening.
				.card-body
					h4 What about the Secretary of State's statements regarding votewashington?
					p
						| Washington State and the nation as a whole is currently especially focused on ensuring a fair and legitimate election. That is a good thing.
						| With that for context, the Secretary of State's office reported our site to the Cybersecurity and Infrastructure Agency for vetting and put
						| out a statement warning voters that we were not an official site. While we were disappointed to be flagged so quickly in this way, we have 
						| since met with both the Cybersecurity and Infrastructure Agency and the Washington Secretary of State's office directly to clear things up.
						| Lines of communication are wide open with both agencies and we've already implemented their suggestions for our tool. We commend Washington
						| for having one of the most transparent and efficient election processes in the country. We stand by the publicly accessible data we use on the
						| site. We are proud of our tool and believe it will result in higher voter turnout and more challenged ballots ultimately being counted.
				.card-body
					h4 What about all those challenged ballots?
					p
						| Yes, the numbers may look concerning, but the percentage of challenged ballots is right in line with past elections in our state and many will be cleared
						| up by certification time by our county auditors. With our tool and the power of community, we hope even more ballots will count. You can find the
						| report on historical election rejection rates at #[a(href='https://www.sos.wa.gov/_assets/elections/research/2018%20report%20of%20elections%20(eavs%20edition).pdf') sos.wa.gov (pdf)].









   
   


